*{
	margin: 0px;
	padding: 0px;
}
.eighth{
	padding-top: 50px;
	width: 1200px;
	height: 20px;
	margin: 0 auto;
}
.eighth .leftOne{
	width: 20px;
	height: 20px;
	background: url("../images/newIcon.png");
	float: left;
}
.eighth .leftTwo{
	margin-left: 15px;
	float: left;
	width: 100px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
}
.eighth .rightOne{
	width: 100px;
	height: 9px;
	float: right;
	margin-top: 10px;
}
.eighth .rightOne .nine{
	width: 9px;
	height: 9px;
	background: grey;
	float: right;
	margin-right: 10px;
}