*{
	margin: 0px;
	padding: 0px;
}
.nineth{
	width: 1200px;
	height: 257px;
	border: 1px solid #f2f2f2;
	margin: 0 auto;
	margin-top:50px;
	position: relative;
	overflow: hidden;
}
.nineth .big{
	width: 3600px;
	height: 257px;
	border: 1px solid #f2f2f2;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.nineth .oneBank{
	width: 1198px;
	height: 257px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.nineth .oneBank li{
	width: 198px;
	height: 226px;
	float: left;
	padding: 20px 0px 10px 0px;
	display: inline;
}
.nineth .twoBank{
	width: 1198px;
	height: 257px;
	position: absolute;
	top: 0px;
	left: 1200px;
}
.nineth .twoBank li{
	width: 198px;
	height: 226px;
	float: left;
	padding: 20px 0px 10px 0px;
	display: inline;
}
.nineth .threeBank li{
	width: 198px;
	height: 226px;
	float: left;
	padding: 20px 0px 10px 0px;
	display: inline;
}
.nineth .threeBank{
	width: 1198px;
	height: 257px;
	position: absolute;
	top: 0px;
	left: 2400px;
}
.tupian{
	width: 160px;
	height: 160px;
	background: url("../images/winePic.jpg") center no-repeat;
	float: left;
}
.shuoming{
	float: left;
	width: 100%;
	height: 15px;
	font-size: 10px;
	text-align: center;
}
.jiage{
	width: 100%;
	height: 20px;
	color: red;
	font-size: 15px;
	text-align: center;
	float: left;
}
.leftzhuan{
	width: 27px;
	height: 56px;
	position: absolute;
	top: 100px;
	background: url("../images/newIcon.png");
	background-position:  0 -28px;
	z-index: 10;
}
.rightzhuan{
	width: 27px;
	height: 56px;
	top: 100px;
	left: 1173px;
	background: url("../images/newIcon.png");
	background-position:  -28px -28px;
	position: absolute;
	z-index: 10;
}